body{
    margin: 0;
    padding: 0;
    background-image:url("./images/bg2.png");
    height: 100vh;
    width:100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
h2{
    margin: 0;
    padding: 0;
}
header{
    background-color: #260e05;
    color: blanchedalmond;
    padding: .5rem;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper{
    max-width: 500px;
    margin: 0 auto;
}
.card{
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin: .3rem 0;
    background-color: rgba(148, 141, 141, 0.623);

}
.text-center{
    text-align: center;
}
textarea{
    width: 100%;
    background-color: rgba(131, 128, 128, 0.363);
    font-size: 20px;
}
::placeholder{
    color: rgb(43, 46, 39);
    font-size: 18px;
    font-style: italic;
}
.text-1{
    text-align: left;
}
p{
    color: rgb(8, 8, 8);
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: 750;
}
small{
    color: blanchedalmond
}
