body {
    margin: 0px;
    padding: 0;
    font-family: "Mukta";
    overflow: hidden;
    background-color: #260e05;
    background-image:url("./images/bg2.png");
    height: 100vh;
    width:100%;
    background-size: cover;
    background-position: center;
    position: relative;

}

.header{
    background-color: #260e05;
    color: #fff;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
}

#heading {
    margin: 5px auto;
    justify-content: center;
    font-family: 'Bree Serif', serif;
}

#heading_logo{
    margin-left: 10px;
    position: absolute;
    margin: 6px;
    margin-bottom: 50px;
    width: 7.5%;
}


h2{
    margin: 0;
    padding: 0;
}
a{
    margin-left: 30px;
}
.wrapper{
    max-width: 500px;
    margin: 0 auto;
}
.card{
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin: .3rem 0;
    background-color: rgba(255, 255, 255, 0.623);

}
.text-center{
    text-align: center;
}
textarea{
    width: 100%;
    background-color: rgba(131, 128, 128, 0.363);
    font-size: 20px;
}
::placeholder{
    color: whitesmoke;
    font-size: 18px;
    font-style: italic;
}
.text-1{
    text-align: left;
}
p{
    color: rgb(8, 8, 8);
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: 750;
}
small{
    color: blanchedalmond
}
