html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  a {
    text-decoration: none;
  }

.container {
    width: 1024px;
    margin: 0 auto;
}

.header{
    background:#260e05;
    color: #fff;
    height: 60px;
    width: 100%;
}

.hero {
    background-color: #260e05;
    background-image: url("images/homed.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 980px;
    width: 100%;
}

.footer {
    background: #221100;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px 0 30px;
    width: 100%;
    color: rgb(48, 35, 35);
    height: 60px;
}

.middle {
    background: #260e05;
    height: 650px;
    margin-top: 0;
}

.logo {
    float: left;
    margin: 20px 45px 0 0;
}

.nav {
    float: right;
}
.nav li {
    float: left;
    border-left: 3px solid #ffffff;
    list-style-type: none;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.nav a {
    display: block;
    line-height: 30px;
    padding: 0 20px 0 30px;
    color: #fff;
}

.nav a:hover {
    background-color: #240101;
}

#features{
    margin: 34px;
    display: flex;
    justify-content: center;
}
#features .box{ 
    border: 2px solid #efcead;
    padding: 30px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Bree Serif', serif;
    color: #300000;
}

#features .box img{ 
   height: 160px;
   margin: auto;
   display: grid;
}

#features .box p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #300000;
    text-align: center;
} 

.inlinebox{
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    font-weight: lighter;
    color: #efcead;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 50px;
    margin-block-start: 0px;
}

.footer_container{
    height: 40px;
}

.footer_container {
    display: block;
    line-height: 30px;
    padding: 0 20px 0 30px;
}

.footer-text p{
    padding-right:300px;
    margin-top:20px;
    float:right;
    background-color: rgb(48, 35, 35);
  }
  
a.menu{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
  }

a.menu:hover {
    background-color:rgba(2, 0, 0, 0.39);
    color: whitesmoke;
  }
