

body {
    margin: 0px;
    padding: 30px;
    font-family: "Mukta";
    overflow: hidden;
    background-color: #260e05;

}

.header{
  
    color: #fff;
    margin-top: -20px;
}

.nav {
    display: flex;
    align-items: center;
}

#heading {
    margin: 5px auto;
    justify-content: center;
}

#heading_logo{
    margin-left: 3px;
    position: absolute;
    margin: 6px;
    margin-bottom: 50px;
    width: 7.5%;
}

canvas {
    box-shadow: -3px 2px 9px 6px black;
    cursor: pointer;
}

.tools {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;

}

.tools .color-changer {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50px;
    border: 2px solid white;
    align-self: center;
    margin: 0 10px;

}

.tools .btn {
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    color: white;
    background-color: gray;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;

}

.color-picker {
    align-self: center;
    margin: 0 10px;
    height: 50px;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
}
